/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */

html {
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.white-text {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding: 0 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.33333%;
}

.hover-action:hover {
    color: #000 !important;
    background-color: #ccc;
    cursor: pointer;
}

.mt-8 {
    margin-top: 8px !important;
}

.pull-right {
    float: right !important;
}




/* Main */

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
    
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {

    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover > .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    padding: 0 16px;
    line-height: 38px;
    color: #000;
}

#nav .nav-arrow-down {
    font-size: 14px;
}


/* Header */
#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon {
    font-size: 20px;
    color: #fff;
    line-height: 46px;
}


/* Slider */
#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url("../img/sliders/slider1.jpg") top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    width: 100%;
    text-align: center;
    color: #fff;
}

#slider .text-heading {
    font-weight: 400;
    font-size: 24px;
}

#slider .text-description {
    font-weight: 600;
    font-size: 15px;
    margin-top: 25px;
}


/* Content */
#content .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 74px 0 122px;
}

#content .section-heading {
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    font-style: italic;
    margin-top: 25px;
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
    margin-top: 25px;

}

#content .members-list {
    margin-top: 47px;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}


/* Tour section */
.tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.tickets-list li {
    font-size: 15px;
    padding: 9px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    margin-top: -2px;
    margin-right: 16px;
}

.places-list {
    margin-top: 32px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    padding-top: 15px;
    color: #757575
}

.place-desc {
    padding-top: 15px;
    line-height: 1.4;

}


.btn {
    margin-top: 15px;
    padding: 9px 17px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    border: none;
}

/* Contact form */

.contact-content {
    margin-top: 48px;
}

.contact-content .fas {
    width: 30px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-form .form-control {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    margin-bottom: 8px;
}


/* Map */
.map-section img {
    width: 100%;
}


/* Modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalSlideIn ease 0.5s;
}

.modal-header {
    height: 129px;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 4px;
}

.modal-header > i {
    margin-right: 16px;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 6px 12px;
    opacity: 0.9;
    cursor: pointer;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    margin-bottom: 12px;
    font-size: 15px;
    display: block;
}

.modal-input {
    font-size: 15px;
    margin-bottom: 24px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
}

#buy-tickets {
    font-size: 15px;
    width: 100%;
    background-color: #009688;
    color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 16px;
    cursor: pointer;
}

#buy-tickets:hover {
    opacity: 0.9;
}

.modal-footer {
    padding: 16px;
    text-align: right;
    font-size: 15px;
}

.modal-footer a {
    color: #2196F3;
}




/* Footer */
#footer {
    /* height: 216px;
    display: flex;
    justify-content: center;
    align-items: center; */
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .copyright a:hover,
#footer .socials-list a:hover {
    opacity: 0.5;
}

#footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copyright {
    margin-top: 15px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: inherit;
}

@keyframes modalSlideIn {
    from {
        transform: translateY(-130px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
